@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автопарк</title>
</head>
<body>
    <div>
        <h1>Добро пожаловать на сайт аренды автомобилей</h1>
        <a href="/Home/ShowCars/">Посмотреть список доступных автомобилей</a>
        <br />
        <a href="/Home/ShowRequsts/">Посмотреть список запросов на аренду</a>

    </div>
</body>
</html>