
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автопарк</title>
</head>
<body>
    <div>
        <h1>Список машин в автопарке</h1>

        @if (ViewBag.Count != 0)
        {
            <table>
            <tr>
                <td><p>Брэнд</p></td>
                <td><p>Информация</p></td>
                <td><p>Цена аренды</p></td>
                <td><p>Доступность</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Cars)
            {

            <tr>
                <td><p>@b.Brand</p></td>
                <td><p>@b.Info</p></td>
                <td><p>@b.Price</p></td>
                @if (b.Avaliability)
                {
                    <td><p>Машина доступна</p></td>
                    <td><p><a href="/Home/SendRequest/@b.Id">Отправить запрос на аренду</a></p></td>
                    <td><p><a href="/Home/DeleteCar/@b.Id">Удалить автомобиль</a></p></td>
                }

                else
                {
                    <td><p>Машина недоступна</p></td>
                    <td><p><a href="/Home/DeleteCar/@b.Id">Удалить автомобиль</a></p></td>
                }


            </tr>
            }
        </table>
         }
         else{
                <h2>Здесь пока ничего нет</h2>
         }

            
            <a href="/Home/Index">На главную</a>
        </div>
</body>
</html>
