
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Успешно</title>
</head>
<body>
    <h1>Успешное выполнение операции!</h1>
    <a href="/Home/Index">На главную</a>
    
</body>
</html>
